<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero herramientas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/60275595f3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

  </head> 
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
          <a class="nav-link" href="#" style="color: white;">herramientas</a>
          <a class="nav-link" href="#" style="color: white;">Contactanos</a>
        </div>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../img/logo.png" alt="" width="85px" height="85px" style="position: relative; left: 35%; " class="d-inline-block align-text-top">

        </a>
      </div>
    </div>
    <a class="nav-item nav-link" href="" target="_blanck" style="color: white;"><i class="fab fa-instagram"></i></a>
    <a class="nav-item nav-link" href="" target="_blanck" style="color: white;"><i class="fab fa-facebook"></i></a>
    <a class="nav-item nav-link" href="" target="_blanck" style="color: white;"><i class="fab fa-twitter"></i></a>

  </nav>
  <br>
  
  <div class="text">
    <p><b>Las mejores</b></p>
    <p><b>herramientas online</b></p>
  </div>

  <div class="sub">
    <p>Mira nuestro catálogo</p>
  </div>

  <div class="button">
    <button>Catálogo</button>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="p1">
            Home
          </p>
          <p class="p2">
            Productos 
          </p>
          <p class="p3">
            contactenos
          </p>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p class="ubicacion">
            <i class="fas fa-map-marker"></i>
            <span class="direccion">7480 Mockingbird Hill undefined</span>
          </p>
          <p class="contacto">
            <i class="fas fa-mobile-alt"></i>
            <span>(239) 555-0108</span>
          </p>
          <p class="items">
            <a class="nav-item nav-link" href="" target="_blanck" style="color: white;"><i class="fab fa-instagram"></i></a>
            <a class="nav-item nav-link" href="" target="_blanck" style="color: white;"><i class="fab fa-facebook"></i></a>
             <a class="nav-item nav-link" href="" target="_blanck" style="color: white;"><i class="fab fa-twitter"></i></a>

          </p>
        </div>
      </div>
    </div>
  </div>




    
  
  
  
  
  
  
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>
